*{
    box-sizing: border-box;
}
header{
    padding: 10px 0;
    font-size: 2rem;
    font-weight: bold;
    font-family: serif;
    color: #c9d2dd;
}
ul #contact, ul #portfolio, ul #about{
    list-style-type: none;
    float: left;
    padding: 5px;
}
main h2{
    font-weight: bolder;
}
hr{
    background-color: #969ea7;
}
i{
    color:#a78898;
}
.navbar-toggler,.navbar-toggler:active, .navbar-toggler:focus{
    outline: none;
    border: none;
    padding: 0;
}
#dditem1,#dditem2, #dditem3{
    text-decoration: none;
}
#navbarToggleExternalContent a{
    border: none;
    background-color:  #343a40;;
    font-size: 1.5rem;
    padding: 0;
}
#dditem1,#dditem2, #dditem3{
    text-decoration: none;
}
#dditem1{
    font-weight: bolder;
}
#nav2{
    width: 100%;
    font-family: sans-serif;
    position: absolute;
    top: 0;
    visibility: hidden;
    font-size: 1.3rem;
}
#wrap{
    padding:0;
    height: 540px
}
#wrap main{
    font-family: sans-serif;
    width: 91%;
    padding: 30px;
}
#inputWrap{
    padding: 0 30px;
}
#input{
    margin: 20px 0;
}
#input input, #input textarea{
    width: 100%;
    max-width: 350px;
    padding: 5px;
}
#submit input{
    background-color:#343a40;
    border-radius: 1rem;
    padding: 15px 30px;
    margin-left: 10px;
    border: none;
    color: white;
}
#submitWrap input:hover{
    background-color: #e9b5b5;
    outline: none;
}
#copyright-section div{
    width: 100%;
    background-color: #e9b5b5;
    text-align: center;
    padding: 3px 0;
    height: 22px;
    font-family: 'Grandstander', cursive;
    font-size: 10px;
    background-color:#343a40;;
    color: rgb(150, 150, 144);
}

/* media query break point set to tablet screen */
@media screen and (min-width:768px) and (max-width: 992px){
    header{
        font-size: 1.8rem;
    }
    #wrap main{
        width: 520px;
    }
    #copyright-section div{
        height: 70px;
        padding-top: 2.5%;
        font-size: 1rem;
    }
}
    
/* media query break point set to desktop screen */
@media screen and (min-width:992px){
    ul #contact {
        font-weight: bolder;
    }
    #nav1{
        visibility: hidden;
    }
    #nav2{
        visibility: visible;
        right: 2%;
    }
    #wrap main{
        width: 700px;
    }
    #input input, #input textarea{
        max-width: 460px;
    }
    #copyright-section div{
        height: 70px;
        padding-top: 20px;
        font-size: 1.3rem;
    }
}