*{
    box-sizing: border-box;
}
body{
    background-color: #f8dddd;
    background-repeat: repeat;
}
header{
    text-align: center;
    padding: 5px 0;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: serif;
    color: rgb(105, 105, 103);
    background-color:#e9b5b5;
}
ul #contact, ul #portfolio, ul #about{
    list-style-type: none;
    float: left;
    padding: 5px;
}
main h2{
    font-weight: bolder;
    color: rgb(105, 105, 103);
}
.btn, .btn-group{
    background-color: rgb(241, 248, 246);
    border-radius: 2rem;
}
.navbar-toggler{
    border-radius: 2rem;
}
.dropdown-menu{
    font-family: 'Indie Flower', cursive;
    min-width: 7rem;
}
#headline{
    background-color:#e9b5b5;
}
#dditem1,#dditem2,#dditem3 {
    padding: 6%;
} 
#dditem1 a,#dditem2 a, #dditem3 a{
    text-decoration: none;
    color: black;
}
#dditem1 a{
    font-weight: bolder;
}
#dditem1 a:hover,#dditem2 a:hover,#dditem3 a:hover{
    background-color: rgb(245, 208, 195);
}
#dditem1 a:active,#dditem2 a:active,#dditem3 a:active, .dropdown-item:active{
    background-color: rgb(236, 166, 140);
}
#nav2{
    font-family: sans-serif;
    visibility: hidden;
    position: absolute;
    top: 10px;
    font-size: 1.3rem;
}
#contact a, #portfolio a, #about a{
    text-decoration: none;
    border-radius: 2rem;
    color: rgba(116, 109, 109, 0.788);
    padding: 10px;
}
#contact a:hover, #portfolio a:hover, #about a:hover{
    background-color: rosybrown;
    color: rgb(63, 72, 80);
}
#wrap{
    padding:0;
    height: 635px
}
#wrap main{
    font-family: sans-serif;
    width: 91%;
    padding: 30px;
    margin: 50px 15px 0px 20px ;
}
#hr-main{
    background-color: rgb(190, 185, 185);
}
#inputWrap{
    padding: 0 30px;
}
#input{
    margin: 20px 0;
}
#input input, #input textarea{
    width: 100%;
    max-width: 350px;
    padding: 5px;
}
#submit input{
    background-color:  #e4aaaa;
    border-radius: 1rem;
    padding: 15px 30px;
    margin-left: 10px;
    border: none;
    color: white;
}
#hr-footer{
    width:100%;
    padding: 4px 0;
    background-color: #e4aaaa;
    margin: 0;
}
#copyright-section div{
    width: 100%;
    background-color: #e9b5b5;
    text-align: center;
    padding: 3px 0;
    height: 22px;
    font-family: 'Grandstander', cursive;
    font-size: 10px;
    color: rgb(150, 150, 144);
}

/* media query break point set to tablet screen */
@media screen and (min-width:768px) and (max-width: 992px){
    header{
        font-size: 1.8rem;
    }
    #wrap main{
        width: 520px;
    }
    #copyright-section div{
        height: 70px;
        padding-top: 2.5%;
        font-size: 1rem;
    }
}
    
/* media query break point set to desktop screen */
@media screen and (min-width:992px){
    ul #contact {
        font-weight: bolder;
    }
    #nav1{
        visibility: hidden;
    }
    #nav2{
        visibility: visible;
        right: 2%;
    }
    #wrap main{
        width: 700px;
    }
    #input input, #input textarea{
        max-width: 460px;
    }
    #copyright-section div{
        height: 70px;
        padding-top: 20px;
        font-size: 1.3rem;
    }
}