*{
    box-sizing: border-box;
}
body{
    background-image: url(./images/backgroundImage.png);
    background-repeat: repeat;
}
nav #nav-icon{
    width: 50px;
    height: 40px;
    padding: 20%;
    border-radius: 0.2rem;
    background-color: rgb(241, 248, 246);
}
ul #contact, ul #portfolio, ul #about{
    list-style-type: none;
    float: left;
    padding: 5px;
}
main h2{
    font-weight: bolder;
    font-size: 2.7rem;
    color: #54bdaf;
}
.btn, .btn-group{
    width: 55px;
    background-color: rgb(241, 248, 246);
    padding: 0;
    border: 0.3px solid rgb(207, 200, 200);
    border-radius: 0.2rem;
}
.dropdown-menu{
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    min-width: 7rem;
}
#headline{
    background-color: rgb(241, 248, 246);
    padding: 10px 0;
}
#header-background{
    width: 243px;
    text-align: center;
    padding: 1% 2%;
    border-radius: 0.3rem;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: serif;
    color: rgb(236, 235, 232);
    background-color:#54bdaf;
}
#nav1{
    margin-top: 0.8%;
}
#dditem1,#dditem2,#dditem3 {
    padding: 6%;
} 
#dditem1 a,#dditem2 a, #dditem3 a{
    text-decoration: none;
    color: black;
}
#dditem1 a{
    font-weight: bolder;
}
#dditem1 a:hover,#dditem2 a:hover,#dditem3 a:hover{
    background-color: rgb(245, 208, 195);
}
#dditem1 a:active,#dditem2 a:active,#dditem3 a:active, .dropdown-item:active{
    background-color: rgb(236, 166, 140);
}
#nav2{
    font-family: sans-serif;
    visibility: hidden;
    position: absolute;
    top: 20px;
    font-size: 1.3rem;
}
#contact a, #portfolio a, #about a{
    text-decoration: none;
    border-radius: 2rem;
    color: rgba(116, 109, 109, 0.788);
    padding: 10px;
}
#contact a:hover, #portfolio a:hover, #about a:hover{
    background-color: rosybrown;
    color: rgb(63, 72, 80);
}
#wrap{
    padding:0;
    height: 635px
}
#wrap main{
    font-family: sans-serif;
    background: white;
    width: 91%;
    padding: 30px;
    margin: 65px 20px 60px 20px ;
}
#hr-main{
    background-color: rgb(238, 234, 234);
}
#inputWrap{
    padding: 0 30px;
}
#input{
    margin: 20px 0;
}
#input input, #input textarea{
    width: 100%;
    max-width: 350px;
    padding: 5px;
}
#submit input{
    background-color: #54bdaf;
    padding: 15px 30px;
    margin-left: 10px;
    border: none;
    color: white;
}
#hr-footer{
    border: 4px solid #4ba397;
    background-color: #4ba397;
    margin: 0;
}
#copyright-section div{
    width: 100%;
    background-color: #727070e5;
    text-align: center;
    padding: 10px 0;
    height: 40px;
    font-family: 'Grandstander', cursive;
    font-size: 10px;
    color: #979393;
}

/* media query break point set to tablet screen */
@media screen and (min-width:768px) and (max-width: 992px){
    header{
        font-size: 1.8rem;
    }
    #wrap main{
        width: 520px;
    }
    #copyright-section div{
        height: 70px;
        padding-top: 2.5%;
        font-size: 1rem;
    }
}
    
/* media query break point set to desktop screen */
@media screen and (min-width:992px){
    ul #contact {
        font-weight: bolder;
    }
    #nav1{
        visibility: hidden;
    }
    #nav2{
        visibility: visible;
        right: 2%;
    }
    #wrap main{
        width: 700px;
    }
    #input input, #input textarea{
        max-width: 460px;
    }
    #copyright-section div{
        height: 70px;
        padding-top: 20px;
        font-size: 1.3rem;
    }
}