*{
    box-sizing: border-box;
}
header{
    padding: 10px 0;
    font-size: 2rem;
    font-weight: bold;
    font-family: serif;
    color: #c9d2dd;
}
ul #contact, ul #portfolio, ul #about{
    list-style-type: none;
    float: left;
    padding: 5px;
}
main h2{
    font-weight: bolder;
}
hr{
    background-color: #969ea7;
}
.fa-bars{
    color:#a78898;
}
.navbar-toggler,.navbar-toggler:active, .navbar-toggler:focus{
    outline: none;
    border: none;
    padding: 0;
}
.paragraph{
    line-height: 150%;
}
#email, #github{
    padding: 0 50px;
    background-color: #a78898;
}
#email a, #github a{
    text-decoration: none;
    color: #343a40;
    font-weight: bolder;
}
#navbarToggleExternalContent a{
    border: none;
    background-color:  #343a40;
    font-size: 1.5rem;
}
#dditem1,#dditem2, #dditem3{
    text-decoration: none;
}
#dditem3{
    font-weight: bolder;
}
#nav2{
    width: 100%;
    font-family: sans-serif;
    position: absolute;
    top: 0;
    visibility: hidden;
    font-size: 1.3rem;
}
#wrap main{
    font-family: sans-serif;
    width: 91%;
    padding: 30px;
}
#mypic img{
    border-radius: 4.5rem;
    width: 185px;
    float: left;
    margin-right:20px;
    margin-bottom: 8px;
}
#firstP{
    font-size:1rem;
    width: 100%;
}
#secondP {
    width: 90%;
    margin-top: 40px;
    font-family: 'Dancing Script', cursive;
    text-indent: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
}
#person{
    width: 90%;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    margin: 0 9px;
    text-align: center;
}
#copyright-section div{
    width: 100%;
    text-align: center;
    padding: 3px 0;
    height: 22px;
    font-family: 'Grandstander', cursive;
    font-size: 10px;
    background-color:#343a40;
    color: rgb(150, 150, 144);
}
/* media query break point set to desktop screen */
@media screen and (min-width:992px){
    #nav1{
        visibility: hidden;
    }
    #nav2{
        visibility: visible;
    }
}