*{
    box-sizing: border-box;
}
nav h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: #66FCF1;
}
section{
    position: relative;
    width: 100%;
}
body{
    background-color:#91999b2a;
}
i{
    color:#45A29E;
}
li{
    list-style: none;
}
.navbar-toggler,.navbar-toggler:active, .navbar-toggler:focus{
    outline: none;
    border: none;
}
.vl {
    border-left: 6px solid #66FCF1;
    height: 160px;
    float: left;
  }
.arrowDown{
    padding: 50px 0;
    font-size: 1rem;
}
.card{
    box-shadow: 5px 10px 10px 5px rgba(226, 224, 224, 0.746);
    padding: 0;
}
.cardHeader img{
    width: 100%;
}
#nav1{
    background-color:#0B0C10;
}
#navbarToggleExternalContent a{
    border: none;
    background-color:#0B0C10;
    font-size: 1.5rem;
}
#dditem1,#dditem2, #dditem3, #dditem4, #dditem5, #dditem6{
    text-decoration: none;
    color:#45A29E;
}
#dditem1{
    font-weight: bolder;
}
#nav2{
    width: 100%;
    font-family: sans-serif;
    position: absolute;
    top: 0;
    visibility: hidden;
    font-size: 1.3rem;
    background-color:#0B0C10;
}
#home{
    background-color: #0B0C10;
    color: #66FCF1;
}
#homeParagraph{
    padding: 10% 0 3% 12%;
}
#name{
    font-size: 2rem;
    font-weight: bolder;
}
#mypic p{
    /* max-width: 100%; */
    height: 373px;
    background-color: rgba(212, 207, 203, 0.753);
}
#fullStack{
    font-size: 1.3rem;
    font-weight: 500;
}
#about{
    font-size: 2rem;
    clear: both;
    background-color:#0B0C10;
    font-family: sans-serif;
    text-align: center;
    color: #66FCF1;
}
#firstP, #secondP{
    padding: 0 20px;
    font-size:1rem;
    width: 100%;
    color: #45A29E;
}
#skillSet{
    margin: 50px 0;
}
#js, #html5, #css3{
    margin: 0 20px;
    color:rgba(212, 207, 203, 0.753);
}
#portfolio{
    background-color:#90b6b8;
    padding:10%;
}
#headingOne, #collapseOne a, #headingFour, #collapseFour a{
    background-color: #314455;
    color: seashell;
    margin: 50px auto;
}
#headingTwo, #collapseTwo a{
    background-color: #97AABD;
    color: black;
    margin: 50px auto;
}
#headingThree, #collapseThree a{
    background-color:#644E5B;
    color: seashell;
    margin: 50px auto;
}
#copyright-section div{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color:#0B0C10;
    color: rgb(150, 150, 144);
}
#topBtn{
    border: none;
    color: #888888;
    position: fixed;
    bottom: 5px;
    left: 5px;
}
#hireMe{
    text-decoration: none;
    color: rgb(204, 154, 15);
    position: fixed;
    bottom: 5px;
    right: 5px;
}
@media screen and (min-width:992px){
    .homeBackground{
        width: 100%;
        height: 100%;
        background-image: url(./images/background1.jpg);
        opacity: 0.1;
        background-size:cover;
        top: 0;
        left: 0;
        position: absolute;
        z-index:-1;
    }
    .vl{
        height: 350px;
    }
    .paragraphWrap1, .paragraphWrap2{
        padding: 100px 50px;
        float: left;
        width: 33%;
    }
    .arrowDown{
        clear: both;
    }
    #nav1{
        visibility: hidden;
    }
    #nav2{
        visibility: visible;
    }
    #home{
        position: relative;
        z-index: 2;
        padding: 6% 3%;
        font-size: 2rem;
    }
    #homeParagraph{
        color: #66FCF1;
        padding-top: 0;
    }
    #name,#fullStack{
        font-size: 4rem;
    }
    #about{
        padding: 5%;
    }
    #skillSet{
        padding: 100px 0;
        margin-top: 0;
        width: 33%;
        float: left;
    }
    #portfolio{
        clear: both;
        padding: 0;
    }
    #topBtn{
        left: auto;
        right: 5px;
    }
    #hireMe{
       display: none;
    }
}