*{
    box-sizing: border-box;
}
nav h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: white;
}
body{
    background-color: black;
}
section{
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}
.fa-bars{
    color:#5ad4c0;
}
.navbar-toggler,.navbar-toggler:active, .navbar-toggler:focus{
    outline: none;
    border: none;
}
.card{
    border: none;
    background-color: black;
}
.cardHeader img{
    border: 5px solid grey;
    width: 100%;
    padding: 5px;
}
#nav1{
    background-color: black;
}
#navbarToggleExternalContent a{
    border: none;
    background-color:  #343a40;
    font-size: 1.5rem;
}
#dditem1,#dditem2, #dditem3{
    text-decoration: none;
}
#dditem3{
    font-weight: bolder;
}
#nav2{
    width: 100%;
    font-family: sans-serif;
    position: absolute;
    top: 0;
    visibility: hidden;
    font-size: 1.3rem;
}
#about{
    font-family: sans-serif;
    text-align: center;
    color: white;
}
#mypic img{
    max-width: 100%;
}
#firstP{
    padding: 0 20px;
    font-size:1rem;
    width: 100%;
}
#secondP {
    padding: 0 40px;
    margin-top: 40px;
    font-family: 'Dancing Script', cursive;
    text-indent: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
}
#person{
    width: 90%;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    margin: 0 9px;
    text-align: center;
}
#contact{
    color: white;
    padding:0 20%;
}
#input{
    margin: 20px 0;
}
#input input, #input textarea{
    width: 100%;
    max-width: 350px;
    padding: 5px;
}
#submit input{
    background-color:#343a40;
    border-radius: 1rem;
    padding: 3px 9px;
    margin-left: 10px;
    border: none;
    color: white;
}
#submitWrap input:hover{
    background-color: #e9b5b5;
    outline: none;
}
#copyright-section div{
    width: 100%;
    text-align: center;
    padding: 3px 0;
    height: 22px;
    font-family: 'Grandstander', cursive;
    font-size: 10px;
    background-color:#343a40;
    color: rgb(150, 150, 144);
}
@media screen and (min-width:992px){
    #nav1{
        visibility: hidden;
    }
    #nav2{
        visibility: visible;
    }
    #mypic{
        float: left;
    }
    body, #about{
        background-color: #5f5f5f;
    }
    .paragraphWrap{
        padding-top: 150px;
    }
    .accordion{
        clear: both;
    }
    .card{
        float:left;
        width: 50%;
        height: 450px;
    }
    .btn img{
        width: 60%;
    }
    #headingOne, #headingFour{
        background-color:#424950;
    }
    #headingTwo, #headingThree{
        background-color:#343a40;
    } 
    #contact{
        clear: both;
    }
}