*{
    box-sizing: border-box;
    background-color:#343a40;
}
header{
    font-size: 2rem;
    font-weight: bold;
    font-family: serif;
    color: #c9d2dd;
}
ul #contact, ul #portfolio, ul #about{
    list-style-type: none;
    float: left;
    padding: 5px;
}
.fa-bars{
    color:#a78898;
}
.navbar-toggler,.navbar-toggler:active, .navbar-toggler:focus{
    outline: none;
    border: none;
    padding: 0;
}
.card{
    border: none;
}
.card-header{
    padding: 0;
}
.btn img{
    width: 100%;
}
#navbarToggleExternalContent a{
    border: none;
    background-color: #343a40;
    font-size: 1.5rem;
}
#dditem1,#dditem2, #dditem3, #dditem4, #dditem5{
    text-decoration: none;
}
#dditem2{
    font-weight: bolder;
}
#nav2{
    width: 100%;
    font-family: sans-serif;
    position: absolute;
    top: 0;
    visibility: hidden;
    font-size: 1.3rem;
}
#headingOne, #headingThree{
    background:#181a1d;
}
#headingTwo, #headingFour{
    background:#181a1d;
} 
/* media query break point set to desktop screen */
@media screen and (min-width:992px){
    #nav1{
        visibility: hidden;
    }
    #nav2{
        visibility: visible;
    }
    .card{
        float:left;
        width: 50%;
    }
    .btn img{
        width: 80%;
    }
}