*{
    box-sizing: border-box;
}
header{
    padding: 5px 0;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: serif;
    color: rgb(177, 177, 172);
}
ul #contact, ul #portfolio, ul #about{
    list-style-type: none;
    float: left;
    padding: 5px;
}
main h2{
    font-weight: bolder;
    color: rgb(105, 105, 103);
}
.navbar-toggler,.navbar-toggler:active, .navbar-toggler:focus{
    outline: none;
    border: none;
    padding: 0;
}
#navbarToggleExternalContent a{
    border: none;
    font-family: 'Indie Flower', cursive;
    background-color: #343a40;
    font-size: 2rem;
    padding: 0;
}
#dditem1,#dditem2, #dditem3{
    text-decoration: none;
}
#dditem2{
    font-weight: bolder;
}
#nav2{
    font-family: sans-serif;
    visibility: hidden;
    position: absolute;
    top: 10px;
    font-size: 1.3rem;
}
#contact a, #portfolio a, #about a{
    text-decoration: none;
    border-radius: 2rem;
    color: rgba(116, 109, 109, 0.788);
    padding: 10px;
}
#contact a:hover, #portfolio a:hover, #about a:hover{
    background-color: rosybrown;
    color: rgb(63, 72, 80);
}
#wrap{
    padding:0;
    height:1900px;
}
#wrap main{
    font-family: sans-serif;
    background: white;
    width: 91%;
    padding: 30px 30px 0 25px;
    margin: 50px 15px 0px 20px ;
}
#hr-main{
    background-color: rgb(190, 185, 185);
}
#portfolioImages{
    width: 100%;
    padding-top: 5%;
}
#portfolioImages img{
    width: 300px;
    margin-bottom: 40px;
}
#hr-footer{
    width:100%;
    padding: 4px 0;
    background-color: #e4aaaa;
    margin: 0;
}
#copyright-section div{
    width: 100%;
    background-color: #e9b5b5;
    text-align: center;
    padding: 3px 0;
    height: 22px;
    font-family: 'Grandstander', cursive;
    font-size: 10px;
    color: rgb(150, 150, 144);
}

/* media query break point set to tablet screen */
@media screen and (min-width:768px) and (max-width: 992px){
    header{
        font-size: 1.8rem;
    }
    #wrap{
        height: 2200px;
    }
    #wrap main{
        width: 60%;
        margin: 70px 17px 30px 40px ;
        padding: 5% 5% 0 30px;
    }
    #portfolioImages img{
        width: 350px;
    }
    #copyright-section div{
        height: 70px;
        padding-top: 2.5%;
        font-size: 1rem;
    }
}
    
/* media query break point set to desktop screen */
@media screen and (min-width:992px){
    header{
        font-size: 2rem;
    }
    ul #portfolio {
        font-weight: bolder;
    }
    #nav1{
        visibility: hidden;
    }
    #nav2{
        visibility: visible;
        right: 2%;
    }
    #wrap{
        height: 1250px;
    }
    #portfolioImages{
        margin: 0;
    }
    #wrap main{
        width: 680px;
        margin-top: 80px;
        padding-right: 25px;
    }
    #copyright-section div{
        height: 70px;
        padding-top: 20px;
        font-size: 1.3rem;
    }
}